/*default css styles */
input:invalid {
  border 1px solid #f00
}

/* custom css styles
  Author: Jascha Ehrenreich
  License: Copyleft - All Rights Reversed
*/


#wrapper
  margin 20px

header.main
  height 50px

  #logo
    float left
    margin 0 30px 0 0

  nav
    float left
    

ul li
  list-style square
  margin 20px

ul.inline li
  display inline
  list-style none
  margin 0 10px

footer.main
  bottom 0
  position fixed
  background-color #999
  opacity 0.95
  width 100%
  left 0
